
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --color-bg:#fff;
    --color-header: #6b56d275;
    --color-search:#95599c23;
    --color-delete-btn:#991b90f3;
    --color-add-btn :#7a67f4;
}

body{
  margin: 0;
  box-sizing: border-box;
  margin: 0;
  background-color: #211d3d;
}


.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
width: 100%;
height: 100%;
overflow-x: hidden;

}

header{
  background-color:var(--color-header);
  color: #fff;
  width: 100%;
  text-align: center;
  border-bottom-right-radius: 320px;
  border-bottom-left-radius: 320px;
  height: 118.4px;
}


.category-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
gap: 16px;
margin-bottom: 64px;
}
.category{

  border-radius: 16px;
padding:32px 40px 41.6px 43.2px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
cursor: pointer;
background-color: #6154876b;
color: #fff;

}
.category i{
  color: #ffffff69;
  font-size: 32px;
}

.category h2{
  font-size: 19.2px;
  
}



.category-label{
  color: #ffffffa5;
}

.container{
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.category-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
gap: 32px;
}

.category h2{
  font-size: 22.4px;
}


.search{
width: 480px;
padding: 16px;
border-radius: 32px;
border: none;
border: none;
margin-top: 80px;
font-size: 18.56px;
background-color: var(--color-search);
color: #fff;

}


#bookmark-form{
  display: flex;
  flex-direction: column;
    justify-content: center;
  row-gap: 32px;
  margin-top: 0px;
  margin-bottom: 80px;
  
}
.title, .url{
  padding: 17.6px;
  width: 480px;
  border-radius: 80px;
  border: none;
  border:  .0625rem solid #B388EB;
}

.description{
  height: 240px;
  border-radius: 16px;
  border-color: #B388EB;
  padding: 16px;
}
.button-container{
  display: flex;
  justify-content: center;
column-gap: 32px;

}
.image-file{
font-size: 14.4px;
color: #4040407c;
}
.save-btn{
    width: 160px;
  border-radius: 16px;
    background-color:var(--color-add-btn);
  border:none;
      border:  .0625rem solid #7a67f4;
  color: #fff;
  font-size:17.6px;
  height: 40px;

}

.cancel-btn{
    width: 160px;
  border-radius: 16px;
    background-color:#fff;
  border:none;
      border:  .0625rem solid #7a67f4;
  color: #7a67f4;
  font-size:17.6px;
  height: 40px;
}




#thumb-nail{
  column-gap: 96px;
}
.lists-container{
  margin-bottom: 128px;
}

.lists a{
  color: #fff;
  text-decoration: none;
}

.list-card button{
  height: 1.5625rem;
  margin-top: .9375rem;
}
.list-card img{
  width: 144px;
  height: 144px;
  border-radius: 24px;
}

.lists{
  display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;

row-gap: 24px;
  height: 100%;
  width: 100%;
  margin-bottom: 32px;
  background-color:#7a67f418;;
  margin-top: 64px;
  border-radius: 16px;  
  color: #fff; 
 
}


.saved-books{
  display: flex;
margin-top: 64px;
width: 50%;
border: .0625rem solid #cbc7e4;
border-radius: 16px;
}



.lists img{
  width: 352px;
  border-radius: 16px;
}

.add-btn{
  font-size: 22.4px;
  color: #fff;
  padding: 19.2px ;
  border: none;
  width: 224px;
  border-radius: 16px;
  background-color:var(--color-add-btn);
  margin-bottom: 80px;
margin-top: 32px;

}


.back-btn, .cards-back-btn{
  width: 40px;
  font-size: xx-large;
  color: #fff;
  border: none;
  cursor: pointer;
  background-color:#b388eb00;

}
.back-btn{
  margin-left: -368px;
  margin-top: 48px;
}
.delete-btn{
  padding: 16px;
  background-color:var(--color-delete-btn);
  color: #fff;
  border-radius:160px;
  margin-left:272px;
  margin-top: 16px;
  font-size: large;
  border: none;
}
 .details{
  background-color: #ffffff21;
  line-height: 24px;
  padding: 16px;
  border-radius: 16px;

}


.lists p, h3{
  margin-bottom: 24px;
  margin-top: 32px;
  font-size: larger;
}



.list-card{

  display: grid;
    grid-template-columns: repeat(1fr, 3);
  column-gap: 64px;
  background-color:#796b8a34;
  font-size: 20.8px;
  color: #fff;
    border:.0625rem solid #b5ade3;
    border-radius: 16px;
  padding: 32px 32px 32px 32px;
  width: 352px;

}



.card-list-container{
  display: grid;
    grid-template-columns: repeat(1fr, 3);
  width: 80%;
  row-gap:32px;
  margin-top: 64px;

}




li{
  list-style: none;

}



/* viewport on small screen*/
@media screen and (max-width: 43.75rem) {

.wrapper{
  display: flex;
  flex-direction: column;
}
  
.category-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
gap: 16px;
}

.category{
  border-radius: 16px;
padding:32px 40px 41.6px 43.2px;
}


#bookmark-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 32px;
  color: #fff;

  
}
 .title, .url{
  padding: 11.2px;
  width: 272px;
  border-radius: 80px;
  border: none;
  border:  .0625rem solid #B388EB;
  background-color: #ffffffc9;
}

.description{
  height: 160px;
  border-radius: 16px;
  border-color: #B388EB;
  padding: 16px;
    background-color: #ffffffc9;
}
.button-container{
  display: flex;
  justify-content: center;
column-gap: 32px;
}

.save-btn{

  color: #fff;
  border:none;
width: 104px;
  border-radius: 16px;
height: 40px;

}
.cancel-btn{
    width: 104px;
  border-radius: 16px;
    background-color:#fff;
  border:none;
      border:  .0625rem solid #7a67f4;
  color: #7a67f4;
  font-size:17.6px;
}

.search{
width: 296px;
padding: 16px;
border-radius: 32px;

margin-top: 80px;
}

.lists-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 85%;


}
.lists{
justify-content:center;
align-items: flex-start;

row-gap: 24px;
  height: 100%;
  width: 100%;
  margin-bottom: 64px;

}
.lists a {
text-decoration: none;
color:#fff;
cursor: pointer;
}

.card-list-container{
  display: flex;

  width: 100%;
  margin: 0;
  
}


.list-card{
  display: flex;
  justify-content: flex-start;
  align-self: center;
  border:.0625rem solid ;
  border-color: #7a67f43d;
  box-shadow: #71697a73 0px 3.2px 9.6px 0px;
    border-radius: 16px;
  padding: 16px 16px 16px 16px;
width:85%;


}
 #thumb-nail{
  display: flex;
column-gap: 16px;


}
.list-card button{
  height: 1.5625rem;
  margin-top: .9375rem;

}
.list-card img{
  width: 8.75rem;
  height: 8.75rem;
  border-radius: 24px;
}


.saved-books{
  display: flex;
margin-top: 64px;
width: 95%;
}
.saved-books-container {
display: flex;
flex-direction: column;
font-size: 24px;
width: 100%;
row-gap:16px;

}

.saved-books button {
  height: 1.5625rem;
  margin-top: 32px;
margin-right: 32px;
}

.lists img {
  width: 22r;
  border-radius: 16px;

  
}
.add-btn{
  margin-left: 102.4px;
}
.card-list-container{
  display: grid;
  width: 80%;
  row-gap:32px;
  margin-top: 96px;

}

.back-btn{
  margin-left: 0em;
  margin-top: 80px;
  margin-bottom: 48px;
}

}


.search-result{
  display: flex;
  flex-direction: column;
margin-left: 1rem;

  color: #fff;
}
 a{
color: #cbc7e4;
text-decoration: none;

}

.category-title{
  color: #c5b1df;
}
.bookmark-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
height: fit-content;
border-radius: .375rem;
  background-color: #51515177;
  width: 90%;
  height: 7rem;

}

.search-title{
  color: #fff;
}

.result-container{
  width: 100%;
  height: 100%;

  color: #fff;
  
}