
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --color-bg:#fff;
    --color-header: #6b56d275;
    --color-search:#95599c23;
    --color-delete-btn:#991b90f3;
    --color-add-btn :#7a67f4;
}

body{
  margin: 0;
  box-sizing: border-box;
  margin: 0;
  background-color: #211d3d;
}


.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
width: 100%;
height: 100%;
overflow-x: hidden;

}

header{
  background-color:var(--color-header);
  color: #fff;
  width: 100%;
  text-align: center;
  border-bottom-right-radius: 20rem;
  border-bottom-left-radius: 20rem;
  height: 7.4rem;
}


.category-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
gap: 1rem;
margin-bottom: 4rem;
}
.category{

  border-radius: 1rem;
padding:2rem 2.5rem 2.6rem 2.7rem;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
cursor: pointer;
background-color: #6154876b;
color: #fff;

}
.category i{
  color: #ffffff69;
  font-size: 2rem;
}

.category h2{
  font-size: 1.2rem;
  
}



.category-label{
  color: #ffffffa5;
}

.container{
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.category-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
gap: 2rem;
}

.category h2{
  font-size: 1.4rem;
}


.search{
width: 30rem;
padding: 1rem;
border-radius: 2rem;
border: none;
border: none;
margin-top: 5rem;
font-size: 1.16rem;
background-color: var(--color-search);
color: #fff;

}


#bookmark-form{
  display: flex;
  flex-direction: column;
    justify-content: center;
  row-gap: 2rem;
  margin-top: 0rem;
  margin-bottom: 5rem;
  
}
.title, .url{
  padding: 1.1rem;
  width: 30rem;
  border-radius: 5rem;
  border: none;
  border:  1px solid #B388EB;
}

.description{
  height: 15rem;
  border-radius: 1rem;
  border-color: #B388EB;
  padding: 1rem;
}
.button-container{
  display: flex;
  justify-content: center;
column-gap: 2rem;

}
.image-file{
font-size: 0.9rem;
color: #4040407c;
}
.save-btn{
    width: 10rem;
  border-radius: 1rem;
    background-color:var(--color-add-btn);
  border:none;
      border:  1px solid #7a67f4;
  color: #fff;
  font-size:1.1rem;
  height: 2.5rem;

}

.cancel-btn{
    width: 10rem;
  border-radius: 1rem;
    background-color:#fff;
  border:none;
      border:  1px solid #7a67f4;
  color: #7a67f4;
  font-size:1.1rem;
  height: 2.5rem;
}




#thumb-nail{
  column-gap: 6rem;
}
.lists-container{
  margin-bottom: 8rem;
}

.lists a{
  color: #fff;
  text-decoration: none;
}

.list-card button{
  height: 25px;
  margin-top: 15px;
}
.list-card img{
  width: 9rem;
  height: 9rem;
  border-radius: 1.5rem;
}

.lists{
  display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;

row-gap: 1.5rem;
  height: 100%;
  width: 100%;
  margin-bottom: 2rem;
  background-color:#7a67f418;;
  margin-top: 4rem;
  border-radius: 1rem;  
  color: #fff; 
 
}


.saved-books{
  display: flex;
margin-top: 4rem;
width: 50%;
border: 1px solid #cbc7e4;
border-radius: 1rem;
}



.lists img{
  width: 22rem;
  border-radius: 1rem;
}

.add-btn{
  font-size: 1.4rem;
  color: #fff;
  padding: 1.2rem ;
  border: none;
  width: 14rem;
  border-radius: 1rem;
  background-color:var(--color-add-btn);
  margin-bottom: 5rem;
margin-top: 2rem;

}


.back-btn, .cards-back-btn{
  width: 2.5rem;
  font-size: xx-large;
  color: #fff;
  border: none;
  cursor: pointer;
  background-color:#b388eb00;

}
.back-btn{
  margin-left: -23rem;
  margin-top: 3rem;
}
.delete-btn{
  padding: 1rem;
  background-color:var(--color-delete-btn);
  color: #fff;
  border-radius:10rem;
  margin-left:17rem;
  margin-top: 1rem;
  font-size: large;
  border: none;
}
 .details{
  background-color: #ffffff21;
  line-height: 1.5rem;
  padding: 1rem;
  border-radius: 1rem;

}


.lists p, h3{
  margin-bottom: 1.5rem;
  margin-top: 2rem;
  font-size: larger;
}



.list-card{

  display: grid;
    grid-template-columns: repeat(1fr, 3);
  column-gap: 4rem;
  background-color:#796b8a34;
  font-size: 1.3rem;
  color: #fff;
    border:1px solid #b5ade3;
    border-radius: 1rem;
  padding: 2rem 2rem 2rem 2rem;
  width: 22rem;

}



.card-list-container{
  display: grid;
    grid-template-columns: repeat(1fr, 3);
  width: 80%;
  row-gap:2rem;
  margin-top: 4rem;

}




li{
  list-style: none;

}



/* viewport on small screen*/
@media screen and (max-width: 700px) {

.wrapper{
  display: flex;
  flex-direction: column;
}
  
.category-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
gap: 1rem;
}

.category{
  border-radius: 1rem;
padding:2rem 2.5rem 2.6rem 2.7rem;
}


#bookmark-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 2rem;
  color: #fff;

  
}
 .title, .url{
  padding: 0.7rem;
  width: 17rem;
  border-radius: 5rem;
  border: none;
  border:  1px solid #B388EB;
  background-color: #ffffffc9;
}

.description{
  height: 10rem;
  border-radius: 1rem;
  border-color: #B388EB;
  padding: 1rem;
    background-color: #ffffffc9;
}
.button-container{
  display: flex;
  justify-content: center;
column-gap: 2rem;
}

.save-btn{

  color: #fff;
  border:none;
width: 6.5rem;
  border-radius: 1rem;
height: 2.5rem;

}
.cancel-btn{
    width: 6.5rem;
  border-radius: 1rem;
    background-color:#fff;
  border:none;
      border:  1px solid #7a67f4;
  color: #7a67f4;
  font-size:1.1rem;
}

.search{
width: 18.5rem;
padding: 1rem;
border-radius: 2rem;

margin-top: 5rem;
}

.lists-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 85%;


}
.lists{
justify-content:center;
align-items: flex-start;

row-gap: 1.5rem;
  height: 100%;
  width: 100%;
  margin-bottom: 4rem;

}
.lists a {
text-decoration: none;
color:#fff;
cursor: pointer;
}

.card-list-container{
  display: flex;

  width: 100%;
  margin: 0;
  
}


.list-card{
  display: flex;
  justify-content: flex-start;
  align-self: center;
  border:1px solid ;
  border-color: #7a67f43d;
  box-shadow: #71697a73 0rem 0.2rem 0.6rem 0rem;
    border-radius: 1rem;
  padding: 1rem 1rem 1rem 1rem;
width:85%;


}
 #thumb-nail{
  display: flex;
column-gap: 1rem;


}
.list-card button{
  height: 25px;
  margin-top: 15px;

}
.list-card img{
  width: 140px;
  height: 140px;
  border-radius: 1.5rem;
}


.saved-books{
  display: flex;
margin-top: 4rem;
width: 95%;
}
.saved-books-container {
display: flex;
flex-direction: column;
font-size: 1.5rem;
width: 100%;
row-gap:1rem;

}

.saved-books button {
  height: 25px;
  margin-top: 2rem;
margin-right: 2rem;
}

.lists img {
  width: 22r;
  border-radius: 1rem;

  
}
.add-btn{
  margin-left: 6.4rem;
}
.card-list-container{
  display: grid;
  width: 80%;
  row-gap:2rem;
  margin-top: 6rem;

}

.back-btn{
  margin-left: 0em;
  margin-top: 5rem;
  margin-bottom: 3rem;
}

}


