
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --color-bg:#fff;
    --color-header: #6b56d275;
    --color-search:#95599c23;
    --color-delete-btn:#991b90f3;
    --color-add-btn :#7a67f4;
}


body{
  margin: 0;
  box-sizing: border-box;
  margin: 0;
  background-color: #211d3d;
}


.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
width: 100%;
height: 100%;
overflow-x: hidden;

}

header{
  background-color:var(--color-header);
  color: #fff;
  width: 100%;
  text-align: center;
  border-bottom-right-radius: 20rem;
  border-bottom-left-radius: 20rem;
  height: 7.4rem;
}


.category-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
gap: 1rem;
margin-bottom: 4rem;
}
.category{

  border-radius: 1rem;
padding:2rem 2.5rem 2.6rem 2.7rem;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
cursor: pointer;
background-color: #6154876b;
color: #fff;

}
.category i{
  color: #ffffff69;
  font-size: 2rem;
}

.category h2{
  font-size: 1.2rem;
  
}



.category-label{
  color: #ffffffa5;
}

.container{
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.category-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
gap: 2rem;
}

.category h2{
  font-size: 1.4rem;
}


.search{
width: 30rem;
border-radius: 2rem;
padding: 12.8px;
border: none;
border: none;
font-size: 1.16rem;
background-color:#dad8e8;
color: #0b0a0a;
}


#bookmark-form{
  display: flex;
  flex-direction: column;
    justify-content: center;
  row-gap: 2rem;
  margin-top: 0rem;
  margin-bottom: 5rem;
  
}
.title, .url{
  padding: 1.1rem;
  width: 30rem;
  border-radius: 5rem;
  border: none;
  border:  1px solid #B388EB;
}

.description{
  height: 15rem;
  border-radius: 1rem;
  border-color: #B388EB;
  padding: 1rem;
}
.button-container{
  display: flex;
  justify-content: center;
column-gap: 2rem;

}
.image-file{
font-size: .9rem;
color: #4040407c;
}
.save-btn{
    width: 10rem;
  border-radius: 1rem;
    background-color:var(--color-add-btn);
  border:none;
      border:  1px solid #7a67f4;
  color: #fff;
  font-size:1.1rem;
  height: 2.5rem;

}

.cancel-btn{
    width: 10rem;
  border-radius: 1rem;
    background-color:#fff;
  border:none;
      border:  1px solid #7a67f4;
  color: #7a67f4;
  font-size:1.1rem;
  height: 2.5rem;
}




#thumb-nail{
  column-gap: 6rem;
}
.lists-container{
  margin-bottom: 8rem;
}

.lists a{
  color: #fff;
  text-decoration: none;
}

.list-card button{
  height: 25px;
  margin-top: 15px;
}
.list-card img{
  width: 9rem;
  height: 9rem;
  border-radius: 1.5rem;
}

.lists{
  display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;

row-gap: 1.5rem;
  height: 100%;
  width: 100%;
  margin-bottom: 2rem;
  background-color:#7a67f418;;
  margin-top: 4rem;
  border-radius: 1rem;  
  color: #fff; 
 
}


.saved-books{
  display: flex;
margin-top: 4rem;
width: 50%;
border: 1px solid #cbc7e4;
border-radius: 1rem;
}



.lists img{
  width: 22rem;
  border-radius: 1rem;
}


.back-btn, .cards-back-btn{
  width: 2.5rem;
  font-size: xx-large;
  color: #fff;
  border: none;
  cursor: pointer;
  background-color:#b388eb00;

}
.back-btn{

  margin-top: 3rem;
}
.delete-btn{
  padding: 1rem;
background: transparent;
  color: #fff;
  border-radius:10rem;
  margin-left:20rem;
  margin-top: 2rem;
  font-size: x-large;
  border: none;
    background-color: #5649ab;
}
 .details{
  background-color: #ffffff21;
  line-height: 1.5rem;
  padding: 1rem;
  border-radius: 1rem;

}


.lists p, h3{
  margin-bottom: 1.5rem;
  margin-top: 2rem;
  font-size: larger;
}



.list-card{

  display: grid;
    grid-template-columns: repeat(1fr, 3);
  column-gap: 4rem;
  background-color:#796b8a34;
  font-size: 1.3rem;
  color: #fff;
    border:1px solid #b5ade3;
    border-radius: 1rem;
  padding: 2rem 2rem 2rem 2rem;
  width: 22rem;

}



.card-list-container{
  display: grid;
    grid-template-columns: repeat( 3, 1fr);
    
  width: 80%;
  row-gap:2rem;
  margin-top: 4rem;

}




li{
  list-style: none;

}


.ERROR_CLASS{
  display: flex;
  flex-direction: column;
margin-left: 16px;

  color: #fff;
}
 a{
color: #cbc7e4;
text-decoration: none;

}

.category-title{
  color: #c5b1df;
}


.search-title{
  color: #fff;
}

.result-container{
  width: 100%;
  height: 100%;
margin-left: 1rem;
  color: #fff;
  
}

.search-btn{
  border-radius: 100%;
}
.bookmark-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
height: fit-content;
border-radius: 16px;
  background-color: #51515177;
  width: 30%;
  height: 112px;
margin-bottom: 16px;
padding: 0px 0px 0px 16px;

}

.search-bar-container{
  display: flex;
justify-content: center;
align-items: center;
column-gap: 16px;
  background-color: #484083b0;
  height: fit-content;
  margin-top: 64px;
 padding: 8px 16px 8px 16px;
border-radius: 32px;

}
.search-input-error{
  margin-right: 368px;
  font-size: large;
  
}


.add-btn{
  font-size: 1.4rem;
  width: fit-content;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 32px;
  background-color:var(--color-add-btn);
  padding: 19.2px;
}
.buttons-container{
  display: flex;
  column-gap: 32px;
margin-bottom: 4rem;

}
.delete-all-btn {
font-size: 1.4rem;
  color: #000;
  border: none;
cursor: pointer;
border-radius: 32px;
  background-color:#f6d21d;
  padding:19.2px ;

}


/* viewport on small screen*/
@media screen and (max-width:900px) {

.wrapper{
  display: flex;
  flex-direction: column;


}
  
.category-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
gap: 1rem;
}

.category{
  border-radius: 1rem;
padding:2rem 2.5rem 2.6rem 2.7rem;
}


#bookmark-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 2rem;
  color: #fff;

  
}
 .title, .url{
  padding: .7rem;
  width: 17rem;
  border-radius: 5rem;
  border: none;
  border:  1px solid #B388EB;
  background-color: #ffffffc9;
}

.description{
  height: 10rem;
  border-radius: 1rem;
  border-color: #B388EB;
  padding: 1rem;
    background-color: #ffffffc9;
}
.button-container{
  display: flex;
  justify-content: center;
column-gap: 2rem;
}

.save-btn{

  color: #fff;
  border:none;
width: 6.5rem;
border-radius: 32px;
height: 2.5rem;

}
.cancel-btn{
    width: 6.5rem;
border-radius: 32px;
    background-color:#fff;
  border:none;
      border:  1px solid #7a67f4;
  color: #7a67f4;
  font-size:1.1rem;
}

.search{
width: 16.25rem;
padding: 10.72px;
border-radius: 2rem;

}

.lists-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  

}
.lists{
justify-content:center;
align-items: flex-start;

row-gap: 1.5rem;
  height: 100%;
  width: 100%;
  margin-bottom: 4rem;

}
.lists a {
text-decoration: none;
color:#fff;
cursor: pointer;
}

.card-list-container{
  display: flex;
  width: 100%;
  margin: 0;
  
}


.list-card{
  display: flex;
  justify-content: flex-start;
  align-self: center;
  border:1px solid ;
  border-color: #7a67f43d;
  box-shadow: #71697a73 0rem .2rem .6rem 0rem;
    border-radius: 1rem;
  padding: 1rem 1rem 1rem 1rem;
width:85%;

}
 #thumb-nail{
  display: flex;
column-gap: 1rem;


}
.lists-container ul li{
  width: 85%;

}
.list-card button{
  height: 25px;
  margin-top: 15px;

}
.list-card img{
  width: 140px;
  height: 140px;
  border-radius: 1.5rem;
}


.saved-books{
  display: flex;
margin-top: 4rem;
width: 95%;
}
.saved-books-container {
display: flex;
flex-direction: column;
font-size: 1.5rem;
width: 100%;
row-gap:1rem;

}

.saved-books button {
  height: 25px;
  margin-top: 2rem;
margin-right: 2rem;
}

.lists img {
  width: 100%;
  border-radius: 1rem;

  
}
.add-btn{
  width: 100%;
  padding:9.6px;

}
.delete-all-btn {
  padding-left: 0;
  padding-right: 0;
  padding: 0;
  width:100%;
  

}
.buttons-container{
  width: 100%;
column-gap:16px;
  margin: 0;
margin-top: 32px;
margin-bottom: 3rem;

}
.card-list-container{
  display: grid;
  justify-content: center;

  width: 80%;
  row-gap:2rem;
  margin-top: 6rem;

}

.back-btn{
  margin-left: 0rem;
  margin-top: 5rem;
  margin-bottom: 3rem;
}
.search-bar-container{

 padding: 8px 16px 8px 16px;

}
.delete-btn{
  margin-top: 0;
  padding-top: 0;
  padding: 0.8rem;

}
.search-input-error{
  margin-left: 128px;
  font-size: 19.2px;
}
.bookmark-item {

  width: 90%;

}

}



#confirm-message{
    width: 160px;
    position: fixed;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%); 
    z-index: 1000; 
    
    background-color: #4f52f1; 
    color: white;
    padding: 1.125rem 1.875rem;
    border-radius: .5rem;
    font-size: 17.6px;
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, 0.2);

    transition: opacity 0.5s, visibility 0.5s;
}





.hide-text{
    visibility: hidden;
    opacity: 0;
}

/* State 2: Visible */
.show-text {
    visibility: visible;
    opacity: 1;
}

/* Extra small devices (phones, less than 600px) */
@media screen and (max-width:600px) {
  .wrapper {
    width: 100%;
    margin: 0;
    padding: 0;
  }
.result-container{
  width: 90%;
}
  .category-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.8rem;
  }
  .category{
    padding: 1.8rem;
  }
  .title, .url {
    width: 100%;
    font-size: 1rem;
    padding: 0.5rem;
  }
  .description {
    height: 6rem;
    font-size: 1rem;
    padding: 0.5rem;
  }
  .button-container {
  margin-top: 1rem;
    column-gap: 2rem;
  }
  .save-btn, .cancel-btn {
    width: 60%;
    font-size: 1rem;
    height: 2.2rem;
  }
  .search {
    width: 100%;
    font-size: 1rem;
    padding: 0.5rem;
  }
  .lists-container, .lists, .saved-books-container {
    width: 100%;
    margin-top: 2rem;
    height: 100%;
  
  }
.card-list-container{
  width: 80%;
}

    .delete-btn{
    margin-left: 15rem;
margin-top: 0; 
padding: 0.5rem; 
  }
  .lists{
     width: 21rem;;
      display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  padding-bottom: 2rem;
  margin-top: 4rem;
    height: 100%;
    
  }
  .list-card, .lists-container ul li {
    width: 85%;
  
  }
  .list-card img {
    width: 80px;
    height: 80px;
  }

  .add-btn, .delete-all-btn {
    width: 60%;
    font-size: 1rem;
    padding: 0.8rem;
  }
  .back-btn {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  .search-bar-container {
    padding: 4px 8px;
  }
  .search-input-error {
    margin-left: 0;
    font-size: 1rem;
  }
  #confirm-message {
    width: 50vw;
    font-size: 1rem;
    padding: 1rem 1rem;
  }
  

}


.loading-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  row-gap: 2rem;
}
.loading-wrapper img{
  width: 100%;
}
.loading-wrapper button{
  padding: 1rem;
  width: 11rem;
  border-radius: 2rem;
  background-color: #8665f4be;
  color: #fff;
  font-size: larger;
  border:none;
  margin-left: 9rem;
}

.b{
  background-color: #171231;
}
.loading-wrapper .loading-second-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2.2rem;
  font-size: larger;
  text-align: center;
  line-height: 2.5rem;
}
.loading-wrapper p{
  color: #fff;
}
.loading-headline{
  font-size: larger;
  font-weight: bold;
  letter-spacing: 0.1rem;
}
.img {
  animation: float 4s ease-in-out ;
}
.loading-wrapper p{
  animation: leftToRight 3s ease-in-out;
}
@keyframes leftToRight{
  0% { transform: translateX(-130px); }
  50% { transform: translateX(-5px); }
  100% { transform: translateX(0px); }
}


@keyframes float {
  0% { transform: translateY(-130px); }
  50% { transform: translateY(-5px); }
  100% { transform: translateY(0px); }
}


@keyframes buttonPulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.04); } 
  100% { transform: scale(1); }
}

.loading-wrapper button {
  animation: buttonPulse 3s ease-in-out infinite;
}